# Scrubbing and Cleaning Data - Lab

## Introduction

In the previous labs, you joined the data from our separate files into a single DataFrame.  In this lab, you'll scrub the data to get it ready for exploration and modeling!

## Objectives

You will be able to:

* Cast columns to the appropriate data types
* Identify and deal with null values appropriately
* Remove unnecessary columns
* Understand how to normalize data


## Getting Started

You'll find the resulting dataset from our work in the _Obtaining Data_ Lab stored within the file `walmart_data_not_cleaned.csv`.  

In the cells below:

* Import pandas and set the standard alias
* Import numpy and set the standard alias
* Import matplotlib.pyplot and set the standard alias
* Import seaborn and set the alias `sns` (this is the standard alias for seaborn)
* Use the ipython magic command to set all matplotlib visualizations to display inline in the notebook
* Load the dataset stored in the .csv file into a DataFrame using pandas
* Inspect the head of the DataFrame to ensure everything loaded correctly

In [1]:
# Import statements go here
# Load Libraries

import os
import math
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

%matplotlib inline
plt.style.use("ggplot")

In [3]:
# Now, load in the dataset and inspect the head to make sure everything loaded correctly
df = pd.read_csv("./Lego_data_merged.csv")
df.head()

,prod_id,ages,piece_count,set_name,prod_desc,prod_long_desc,theme_name,country,list_price,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,75823,6-12,277,Bird Island Egg Heist,Catapult into action and take back the eggs fr...,Use the staircase catapult to launch Red into ...,Angry Birds™,US,$29.99,2.0,4.0,Average,4.5,4.0
1,75822,6-12,168,Piggy Plane Attack,Launch a flying attack and rescue the eggs fro...,Pilot Pig has taken off from Bird Island with ...,Angry Birds™,US,$19.99,2.0,4.0,Easy,5.0,4.0
2,75821,6-12,74,Piggy Car Escape,Chase the piggy with lightning-fast Chuck and ...,Pitch speedy bird Chuck against the Piggy Car....,Angry Birds™,US,$12.99,11.0,4.3,Easy,4.3,4.1
3,21030,12+,1032,United States Capitol Building,Explore the architecture of the United States ...,Discover the architectural secrets of the icon...,Architecture,US,$99.99,23.0,3.6,Average,4.6,4.3
4,21035,12+,744,Solomon R. Guggenheim Museum®,Recreate the Solomon R. Guggenheim Museum® wit...,Discover the architectural secrets of Frank Ll...,Architecture,US,$79.99,14.0,3.2,Challenging,4.6,4.1

## Starting our Data Cleaning

To start, you'll deal with the most obvious issue: data features with the wrong data encoding.

### Checking Data Types

In the cell below, use the appropriate method to check the data type of each column.

In [5]:
# Your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10870 entries, 0 to 10869
Data columns (total 14 columns):
prod_id              10870 non-null int64
ages                 10870 non-null object
piece_count          10870 non-null int64
set_name             10870 non-null object
prod_desc            10512 non-null object
prod_long_desc       10870 non-null object
theme_name           10870 non-null object
country              10870 non-null object
list_price           10870 non-null object
num_reviews          9449 non-null float64
play_star_rating     9321 non-null float64
review_difficulty    9104 non-null object
star_rating          9449 non-null float64
val_star_rating      9301 non-null float64
dtypes: float64(4), int64(2), object(8)
memory usage: 1.2+ MB

In [10]:
df.describe()

,prod_id,piece_count,num_reviews,play_star_rating,star_rating,val_star_rating
count,1.087000e+04,10870.000000,9449.000000,9321.000000,9449.000000,9301.000000
mean,6.181634e+04,503.936431,17.813737,4.355413,4.510319,4.214439
std,1.736390e+05,831.209318,38.166693,0.617272,0.516463,0.670906
min,6.300000e+02,1.000000,1.000000,1.000000,1.800000,1.000000
25%,2.112300e+04,97.000000,2.000000,4.000000,4.300000,4.000000
50%,4.207350e+04,223.000000,6.000000,4.500000,4.600000,4.300000
75%,7.124800e+04,556.000000,14.000000,4.800000,5.000000,4.700000
max,2.000431e+06,7541.000000,367.000000,5.000000,5.000000,5.000000

Now, investigate some of the unique values inside of the `list_price` column.

In [9]:
# Your code here
df["list_price"].unique()[:100]

array(['$29.99', '$19.99', '$12.99', '$99.99', '$79.99', '$59.99',
       '$49.99', '$39.99', '$34.99', '$159.99', '$9.99', '$199.99',
       '$149.99', '$119.99', '$89.99', '$69.99', '$24.99', '$15.99',
       '$14.99', '$6.99', '$16.99', '$7.99', '$4.99', '$2.49', '$369.99',
       '$169.99', '$279.99', '$249.99', '$239.99', '$139.99', '$269.99',
       '$129.99', '$44.99', '$11.99', '$349.99', '$5.99', '$109.99',
       '$54.99', '$32.99', '$197.99', '$88.99', '$41.99', '$31.99',
       '$26.99', '$21.99', '$3.99', '$299.99', '$754.99', '$484.99',
       '$36.99', '$789.99', '$499.99', '$84.99', '$799.99', '$289.99',
       '$179.99', '$113.9924', '$75.9924', '$60.7924', '$53.1924',
       '$45.59240000000001', '$37.9924', '$189.9924', '$30.3924',
       '$22.7924', '$12.1524', '$227.9924', '$174.7924', '$121.5924',
       '$34.1924', '$18.9924', '$17.4724', '$13.6724', '$7.5924',
       '$15.1924', '$9.8724', '$6.0724', '$2.2724', '$91.1924',
       '$379.9924', '$303.9924000000001', '$288.7924',
       '$265.99240000000003', '$220.3924', '$151.9924',
       '$129.19240000000002', '$83.5924', '$136.7924', '$26.5924',
       '$53.162000000000006', '$37.962', '$30.362', '$18.962', '$41.7924',
       '$11.3924', '$68.3924', '$250.7924', '$26.6', '$4.5524',
       '$144.3924'], dtype=object)

### Numerical Data Stored as Strings

A common issue to check for at this stage is numeric columns that have accidentally been encoded as strings. For example, you should notice that the `list_price` column above is currently formatted as a string and contains a proceeding '$'. Remove this and convert the remaining number to a `float` so that you can later model this value. After all, your primary task is to generate model to predict the price.

> Note: While the data spans a multitude of countries, assume for now that all prices have been standardized to USD.

In [20]:
# Your code here
df["list_price"] = df["list_price"].map(lambda x: float(x.replace("$", "")))
df["list_price"].unique()[:10]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10870 entries, 0 to 10869
Data columns (total 14 columns):
prod_id              10870 non-null int64
ages                 10870 non-null object
piece_count          10870 non-null int64
set_name             10870 non-null object
prod_desc            10512 non-null object
prod_long_desc       10870 non-null object
theme_name           10870 non-null object
country              10870 non-null object
list_price           10870 non-null float64
num_reviews          9449 non-null float64
play_star_rating     9321 non-null float64
review_difficulty    9104 non-null object
star_rating          9449 non-null float64
val_star_rating      9301 non-null float64
dtypes: float64(5), int64(2), object(7)
memory usage: 1.2+ MB

### Detecting and Dealing With Null Values

Next, it's time to check for null values. How to deal with the null values will be determined by the columns containing them, and how many null values exist in each.  
 
In the cell below, get a count of how many null values exist in each column in the DataFrame.

In [21]:
# Your code here
df.isna().sum()

prod_id                 0
ages                    0
piece_count             0
set_name                0
prod_desc             358
prod_long_desc          0
theme_name              0
country                 0
list_price              0
num_reviews          1421
play_star_rating     1549
review_difficulty    1766
star_rating          1421
val_star_rating      1569
dtype: int64

In [23]:
df.shape

(10870, 14)

Now, get some descriptive statistics for each of the columns. You want to see where the minimum and maximum values lie.

In [22]:
# Your code here
df.describe()

,prod_id,piece_count,list_price,num_reviews,play_star_rating,star_rating,val_star_rating
count,1.087000e+04,10870.000000,10870.000000,9449.000000,9321.000000,9449.000000,9301.000000
mean,6.181634e+04,503.936431,67.309137,17.813737,4.355413,4.510319,4.214439
std,1.736390e+05,831.209318,94.669414,38.166693,0.617272,0.516463,0.670906
min,6.300000e+02,1.000000,2.272400,1.000000,1.000000,1.800000,1.000000
25%,2.112300e+04,97.000000,21.899000,2.000000,4.000000,4.300000,4.000000
50%,4.207350e+04,223.000000,36.587800,6.000000,4.500000,4.600000,4.300000
75%,7.124800e+04,556.000000,73.187800,14.000000,4.800000,5.000000,4.700000
max,2.000431e+06,7541.000000,1104.870000,367.000000,5.000000,5.000000,5.000000

Now that you have a bit more of a understanding of each of these features you can now make an informed decision about the best strategy for dealing with the various null values. 

Some common strategies for filling null values include:
* Using the mean of the feature
* Using the median of the feature
* Inserting a random value from a normal distribution with the mean and std of the feature
* Binning

Given that most of the features with null values concern user reviews of the lego set, it is reasonable to wonder whether there is strong correlation between these features in the first place. Before proceeding, take a minute to investigate this hypothesis.

In [25]:
# Investigate whether multicollinearity exists between the review features 
# (num_reviews, play_star_rating, star_rating, val_star_rating)
# Compute the correlation matrix
corr = df.corr()
corr

,prod_id,piece_count,list_price,num_reviews,play_star_rating,star_rating,val_star_rating
prod_id,1.000000,0.221692,0.394525,-0.044658,-0.008234,-0.062264,-0.083703
piece_count,0.221692,1.000000,0.865094,0.542208,-0.007952,0.067610,0.067296
list_price,0.394525,0.865094,1.000000,0.437724,-0.000685,-0.006497,-0.055899
num_reviews,-0.044658,0.542208,0.437724,1.000000,-0.060884,0.004541,0.026664
play_star_rating,-0.008234,-0.007952,-0.000685,-0.060884,1.000000,0.619246,0.484341
star_rating,-0.062264,0.067610,-0.006497,0.004541,0.619246,1.000000,0.731538
val_star_rating,-0.083703,0.067296,-0.055899,0.026664,0.484341,0.731538,1.000000

In [26]:
# Investigate whether multicollinearity exists between the review features 
# (num_reviews, play_star_rating, star_rating, val_star_rating)
feats = ['num_reviews', 'play_star_rating', 'star_rating', 'val_star_rating']
df[feats].corr()

                  num_reviews  play_star_rating  star_rating  val_star_rating
num_reviews          1.000000         -0.060884     0.004541         0.026664
play_star_rating    -0.060884          1.000000     0.619246         0.484341
star_rating          0.004541          0.619246     1.000000         0.731538
val_star_rating      0.026664          0.484341     0.731538         1.000000

In [30]:
# 0.7-0.8 or higher is considered a high correlation
abs(df[feats].corr()) > 0.50

                  num_reviews  play_star_rating  star_rating  val_star_rating
num_reviews              True             False        False            False
play_star_rating        False              True         True            False
star_rating             False              True         True             True
val_star_rating         False             False         True             True

Note that there is substantial correlation between the `play_star_rating`, `star_rating` and `val_star_rating`. While this could lead to multicollinearity in your eventual regression model, it is too early to clearly determine this at this point. Remember that multicollinearity is a relationship between 3 or more variables while correlation simply investigates the relationship between two variables.

Additionally, these relationships provide an alternative method for imputing missing values: since they appear to be correlated, you could use these features to help impute missing values in the others features. For example, if you are missing the star_rating for a particular row but have the val_star_rating for that same entry, it seems reasonable to assume that it is a good estimate for the missing star_rating value as they are highly correlated. That said, doing so does come with risks; indeed you would be further increasing the correlation between these features which could further provoke multicollinearity in the final model.

Investigate if you could use one of the other star rating features when one is missing. How many rows have one of `play_star_rating`, `star_rating` and `val_star_rating` missing, but not all three.

In [31]:
# Your code here
# Number missing all three: 1421
print('Number missing all three:',
      len(df[(df.play_star_rating.isnull())
      & (df.star_rating.isnull())
      & (df.val_star_rating.isnull())])
     )

Number missing all three: 1421

In [33]:
df.columns

Index(['prod_id', 'ages', 'piece_count', 'set_name', 'prod_desc',
       'prod_long_desc', 'theme_name', 'country', 'list_price', 'num_reviews',
       'play_star_rating', 'review_difficulty', 'star_rating',
       'val_star_rating'],
      dtype='object')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10870 entries, 0 to 10869
Data columns (total 14 columns):
prod_id              10870 non-null int64
ages                 10870 non-null object
piece_count          10870 non-null int64
set_name             10870 non-null object
prod_desc            10512 non-null object
prod_long_desc       10870 non-null object
theme_name           10870 non-null object
country              10870 non-null object
list_price           10870 non-null float64
num_reviews          9449 non-null float64
play_star_rating     9321 non-null float64
review_difficulty    9104 non-null object
star_rating          9449 non-null float64
val_star_rating      9301 non-null float64
dtypes: float64(5), int64(2), object(7)
memory usage: 1.2+ MB

Well, it seems like when one is missing, the other two are also apt to be missing. While this has been a bit of an extended investigation, simply go ahead and fill the missing values with that feature's median.  

Fill in the missing `review_difficulty` values with 'unknown'.

In [46]:
# Your code here
# for col in df.columns:
#     if col == "":
#         median = df[col].median()
#         df[col] = df[col].fillna(value=median)
# s.fillna(s.mean())

# df["play_star_rating"] = df["play_star_rating"].fillna(df["play_star_rating"].median())
# df["star_rating"]      = df["star_rating"].fillna(df["play_star_rating"].median())
# df["val_star_rating"]  = df["val_star_rating"].fillna(df["play_star_rating"].median())

# df["review_difficulty"] = df["review_difficulty"].fillna("unknown")

for col in df.columns:
    try:
        median = df[col].median()
        df[col] = df[col].fillna(value=median)
    except:
        continue
        
df.isna().sum()

prod_id                0
ages                   0
piece_count            0
set_name               0
prod_desc            358
prod_long_desc         0
theme_name             0
country                0
list_price             0
num_reviews            0
play_star_rating       0
review_difficulty      0
star_rating            0
val_star_rating        0
dtype: int64

## Normalizing the Data

Now, you'll need to convert all of our numeric columns to the same scale by **_normalizing_** our dataset.  Recall that you normalize a dataset by converting each numeric value to it's corresponding z-score for the column, which is obtained by subtracting the column's mean and then dividing by the column's standard deviation for every value. 


In the cell below:

* Normalize the numeric X features by subtracting the column mean and dividing by the column standard deviation. 
(Don't bother to normalize the list_price as this is the feature you will be predicting.)

In [47]:
# Your code here
def norm_feat(col):
    return (col - col.mean())/col.std()
for feat in ['piece_count', 'num_reviews', 'play_star_rating', 'star_rating', 'val_star_rating']:
    df[feat] = norm_feat(df[feat])
df.describe()

,prod_id,piece_count,list_price,num_reviews,play_star_rating,star_rating,val_star_rating
count,1.087000e+04,1.087000e+04,10870.000000,1.087000e+04,1.087000e+04,1.087000e+04,1.087000e+04
mean,6.181634e+04,8.497751e-18,67.309137,-2.287856e-18,1.034111e-15,4.379610e-17,-2.949700e-16
std,1.736390e+05,1.000000e+00,94.669414,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,6.300000e+02,-6.050659e-01,2.272400,-4.264402e-01,-5.883334e+00,-5.625723e+00,-5.178742e+00
25%,2.112300e+04,-4.895715e-01,21.899000,-3.705846e-01,-4.810100e-01,-4.339677e-01,-4.066723e-01
50%,4.207350e+04,-3.379852e-01,36.587800,-2.868011e-01,2.160641e-01,1.890430e-01,3.886727e-01
75%,7.124800e+04,6.263593e-02,73.187800,-1.192341e-01,5.646012e-01,8.120536e-01,5.477417e-01
max,2.000431e+06,8.466055e+00,1104.870000,9.795146e+00,1.087407e+00,1.019724e+00,1.184018e+00

## Saving Your Results

While you'll once again practice one-hot encoding as you would to preprocess data before fitting a model, saving such a reperesentation of the data will eat up additional disk space. After all, a categorical variable with 10 bins will be transformed to 10 seperate features when passed through `pd.get_dummies()`. As such, while the further practice is worthwhile, save your DataFrame as is for now.

In [48]:
#Your code here
df.to_csv("Lego_dataset_cleaned.csv", index=False)

## One-Hot Encoding Categorical Columns

As a final step, you'll need to deal with the categorical columns by **_one-hot encoding_** them into binary variables via the `pd.get_dummies()` method.  

When doing this, you may also need to subset the appropriate features to avoid encoding the wrong data. The `get_dummies()` method by default converts all columns with *object* or *category* dtype. However, you should always check the result of calling `get_dummies()` to ensure that only the categorical variables have been transformed. Consult the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) for more details. If you are ever unsure of the dtypes, call `df.info()`.

In the cell below, subset to the appropriate predictive features and then use the `pd.get_dummies()` to one-hot encode the dataset properly.

In [49]:
# Your code here
feats = ['ages', 'piece_count', 'theme_name', 'country', 'list_price', 'num_reviews',
         'play_star_rating', 'review_difficulty', 'star_rating', 'val_star_rating']
#Don't include prod_id, set_name, prod_desc, or prod_long_desc; they are too unique
df = df[feats]
df = pd.get_dummies(df, drop_first=True)
df.head()

,piece_count,list_price,num_reviews,play_star_rating,star_rating,val_star_rating,ages_10-14,ages_10-16,ages_10-21,ages_11-16,...,country_NO,country_NZ,country_PL,country_PT,country_US,review_difficulty_Challenging,review_difficulty_Easy,review_difficulty_Very Challenging,review_difficulty_Very Easy,review_difficulty_unknown
0,-0.273020,29.99,-0.398512,-0.655279,-0.018627,-0.406672,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,-0.404154,19.99,-0.398512,-0.655279,1.019724,-0.406672,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,-0.517242,12.99,-0.147162,-0.132473,-0.433968,-0.247603,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3,0.635296,99.99,0.187972,-1.352353,0.189043,0.070535,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0.288812,79.99,-0.063378,-2.049427,0.189043,-0.247603,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10870 entries, 0 to 10869
Data columns (total 99 columns):
piece_count                                         10870 non-null float64
list_price                                          10870 non-null float64
num_reviews                                         10870 non-null float64
play_star_rating                                    10870 non-null float64
star_rating                                         10870 non-null float64
val_star_rating                                     10870 non-null float64
ages_10-14                                          10870 non-null uint8
ages_10-16                                          10870 non-null uint8
ages_10-21                                          10870 non-null uint8
ages_11-16                                          10870 non-null uint8
ages_12+                                            10870 non-null uint8
ages_12-16                                          10870 non-null uint8
ages_14+                                            10870 non-null uint8
ages_16+                                            10870 non-null uint8
ages_1½-3                                           10870 non-null uint8
ages_1½-5                                           10870 non-null uint8
ages_2-5                                            10870 non-null uint8
ages_4+                                             10870 non-null uint8
ages_4-7                                            10870 non-null uint8
ages_4-99                                           10870 non-null uint8
ages_5+                                             10870 non-null uint8
ages_5-12                                           10870 non-null uint8
ages_5-8                                            10870 non-null uint8
ages_6+                                             10870 non-null uint8
ages_6-12                                           10870 non-null uint8
ages_6-14                                           10870 non-null uint8
ages_7+                                             10870 non-null uint8
ages_7-12                                           10870 non-null uint8
ages_7-14                                           10870 non-null uint8
ages_8+                                             10870 non-null uint8
ages_8-12                                           10870 non-null uint8
ages_8-14                                           10870 non-null uint8
ages_9+                                             10870 non-null uint8
ages_9-12                                           10870 non-null uint8
ages_9-14                                           10870 non-null uint8
ages_9-16                                           10870 non-null uint8
theme_name_Architecture                             10870 non-null uint8
theme_name_BOOST                                    10870 non-null uint8
theme_name_Blue's Helicopter Pursuit                10870 non-null uint8
theme_name_BrickHeadz                               10870 non-null uint8
theme_name_Carnotaurus Gyrosphere Escape            10870 non-null uint8
theme_name_City                                     10870 non-null uint8
theme_name_Classic                                  10870 non-null uint8
theme_name_Creator 3-in-1                           10870 non-null uint8
theme_name_Creator Expert                           10870 non-null uint8
theme_name_DC Comics™ Super Heroes                  10870 non-null uint8
theme_name_DC Super Hero Girls                      10870 non-null uint8
theme_name_DIMENSIONS™                              10870 non-null uint8
theme_name_DUPLO®                                   10870 non-null uint8
theme_name_Dilophosaurus Outpost Attack             10870 non-null uint8
theme_name_Disney™                                  10870 non-null uint8
theme_name_Elves                                    10870 non-null uint8
theme_name_Friends                                  10870 non-null uint8
theme_name_Ghostbusters™                            10870 non-null uint8
theme_name_Ideas                                    10870 non-null uint8
theme_name_Indoraptor Rampage at Lockwood Estate    10870 non-null uint8
theme_name_Juniors                                  10870 non-null uint8
theme_name_Jurassic Park Velociraptor Chase         10870 non-null uint8
theme_name_MINDSTORMS®                              10870 non-null uint8
theme_name_Marvel Super Heroes                      10870 non-null uint8
theme_name_Minecraft™                               10870 non-null uint8
theme_name_Minifigures                              10870 non-null uint8
theme_name_NEXO KNIGHTS™                            10870 non-null uint8
theme_name_NINJAGO®                                 10870 non-null uint8
theme_name_Power Functions                          10870 non-null uint8
theme_name_Pteranodon Chase                         10870 non-null uint8
theme_name_SERIOUS PLAY®                            10870 non-null uint8
theme_name_Speed Champions                          10870 non-null uint8
theme_name_Star Wars™                               10870 non-null uint8
theme_name_Stygimoloch Breakout                     10870 non-null uint8
theme_name_T. rex Transport                         10870 non-null uint8
theme_name_THE LEGO® BATMAN MOVIE                   10870 non-null uint8
theme_name_THE LEGO® NINJAGO® MOVIE™                10870 non-null uint8
theme_name_Technic                                  10870 non-null uint8
country_AU                                          10870 non-null uint8
country_BE                                          10870 non-null uint8
country_CA                                          10870 non-null uint8
country_CH                                          10870 non-null uint8
country_CZ                                          10870 non-null uint8
country_DE                                          10870 non-null uint8
country_DN                                          10870 non-null uint8
country_ES                                          10870 non-null uint8
country_FI                                          10870 non-null uint8
country_FR                                          10870 non-null uint8
country_GB                                          10870 non-null uint8
country_IE                                          10870 non-null uint8
country_IT                                          10870 non-null uint8
country_LU                                          10870 non-null uint8
country_NL                                          10870 non-null uint8
country_NO                                          10870 non-null uint8
country_NZ                                          10870 non-null uint8
country_PL                                          10870 non-null uint8
country_PT                                          10870 non-null uint8
country_US                                          10870 non-null uint8
review_difficulty_Challenging                       10870 non-null uint8
review_difficulty_Easy                              10870 non-null uint8
review_difficulty_Very Challenging                  10870 non-null uint8
review_difficulty_Very Easy                         10870 non-null uint8
review_difficulty_unknown                           10870 non-null uint8
dtypes: float64(6), uint8(93)
memory usage: 1.5 MB

That's it! You've now successfully scrubbed your dataset--you're now ready for data exploration and modeling!

## Summary

In this lesson, you gained practice with data cleaning by:

* Casting columns to the appropriate data types
* Identifying and dealing with null values appropriately
* Removing unnecessary columns
* Checking for and dealing with multicollinearity
* Normalizing your data